
.event-card {
    font-family: $inter;
    font-size: .75rem;
    line-height: 1.25rem;

    // background-color: $neutral-4;
    border-radius: 1rem;


    overflow: hidden;

    max-width: 14rem;
    min-height: 14rem;

    background-image: url('../img/Rectangle\ 96.png');
    background-size: cover;

    display: flex;
    flex-direction: column-reverse;

    img {
        width: 100%;
        height: auto;
    }

    .event-date {
        font-weight: 500;
    }

    .event-container {
        background-color: $neutral-4;
        padding: .75rem 1.25rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    .event-title {
        color: #FFA858;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .event-reg-button {
        background-color: #A7C7E7;
        border-radius: .5rem;
        padding: .5rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        
        margin-top: .5rem;

        text-decoration: none;
        color: $neutral-1;
        font-weight: bold;
        font-size: 1rem;

        &:hover {
            background-color: #b8d2ec;
        }
    }
}