/*
Specific styles for the footer section if applicable.
*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: auto;
    width: inherit;
    padding: 1rem;
    font-size: .75rem;

    p {
        text-align: center;
        color: white;
    }
}
