/*
Specific styles for the footer section if applicable.
*/

footer {
    flex: 0 0 auto;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: auto;
    width: inherit;
    padding: 1rem;
    font-size: .75rem;
}
