/*
Styles for form elements, input fields, buttons, etc.
*/

.search-form {
  background-color: $neutral-3;
  border-radius: 1rem;
  padding: .25rem .75rem;

  display: flex;
  align-items: center;
  color: $neutral-8;

  svg {
    width: 10%;
  }


  input {
    color: $neutral-10;
    outline: none;
    background-color: inherit;
    border: none;
    flex: 1;

    font-size: 1rem;
    font-family: $inter;

    &::placeholder {
        color: $neutral-8;
    }

    &::-ms-input-placeholder {
      /* Edge 12 -18 */
      color: $neutral-8;
    }
  }
}
