.profile {
  flex: 1;

  .cover-photo-container {
    width: inherit;
    overflow: hidden;
    // top: 0;
    min-height: 20rem;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $neutral-3;
  }

  main {

    .profile-image {
      position: relative;
      top: -3rem;
      overflow: hidden;
      border-radius: 50%;
      max-width: 7%;
      margin-left: calc(8rem + 1.5625vw);
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: auto;
      }
    }

    .organization-info {
      padding-left: calc(8rem + 1.5625vw);
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .profile-organization-name {
        font-size: 1.25rem;
        font-weight: 700;
      }

      .profile-organization-description {
        font-size: 1rem;
      }

      .profile-location-icon, .profile-website-icon {
        width: 1.5rem;
      }

      .profile-location {
        font-size: 1rem;
      }
    }

    .profile-content-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .posts {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            grid-column: span 2;
        }
    }
  }
}
