/*
Define variables for colors, fonts, spacing, and other commonly used values.
*/


// Neutral Colors
$neutral-1: #F9FAFB;
$neutral-2: #F3F4F6;
$neutral-3: #E5E7EB;
$neutral-4: #D1D5DB;
$neutral-5: #9CA3AF;
$neutral-6: #6B7280;
$neutral-7: #4B5563;
$neutral-8: #374151;
$neutral-9: #1F2937;
$neutral-10: #111827;

$button-color-hover: #FFBD81;
$button-color: #fcae65;