@use "./normalize";

@import "./variables";
@import "./typography";

@import "./base";

@import "./buttons";
@import "./event_card";


@import './post_component';
@import './footer';
@import './navbar';
@import './forms';
@import './orglogin';
@import './event_page';
@import './organization_search_card';

.center {
    display: flex;
    justify-content: center;
    width: inherit;
}
