@use "./normalize";

@import "./variables";
@import "./typography";

@import "./base";

@import "./buttons";
@import "./event_card";

@import "./orgs_admin";
@import "./sign_up";
@import './post_component';
@import './footer';
@import './navbar';
@import './forms';
@import './login';

@import './organization_search_card';
@import './profile';

.center {
    display: flex;
    justify-content: center;
    width: inherit;
}