<<<<<<< HEAD
/*
Define variables for colors, fonts, spacing, and other commonly used values.
*/
/*
Set typography-related styles such as font sizes, line heights, and font families.
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Inter);
/* 
    Define base styles for HTML elements (e.g., body, headings, paragraphs).
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Inter);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Inter);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}
body .back-img {
  position: fixed;
  top: 0;
  z-index: -500;
  width: 100%;
}

.main-feed {
  display: flex;
  justify-content: center;
  padding: 0 4rem;
}

.left {
  flex: 1;
}

.main {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  gap: 1.25rem;
  padding: 3rem;
  border-radius: 0.25rem;
  background-color: #F0F2F5;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.right {
  flex: 1;
}

/* 
    Styles for various button types and states.
*/
/*
Define variables for colors, fonts, spacing, and other commonly used values.
*/
/*
Set typography-related styles such as font sizes, line heights, and font families.
*/
.org-reg-button {
  /* Background and Text color */
  background-color: #fcae65;
  color: #F9FAFB;
  /* Text alignment and font */
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  border-radius: 2rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
}
.org-reg-button svg {
  margin-right: 0.25rem;
}
.org-reg-button:hover {
  background-color: #FFBD81;
}

.event-card {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  line-height: 1.25rem;
  border-radius: 1rem;
  overflow: hidden;
  max-width: 14rem;
  min-height: 14rem;
  background-image: url("../img/Rectangle 96.png");
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
}
.event-card img {
  width: 100%;
  height: auto;
}
.event-card .event-date {
  font-weight: 500;
}
.event-card .event-container {
  background-color: #D1D5DB;
  padding: 0.75rem 1.25rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.event-card .event-title {
  color: #FFA858;
  font-weight: bold;
  font-size: 1.5rem;
}
.event-card .event-reg-button {
  background-color: #A7C7E7;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  text-decoration: none;
  color: #F9FAFB;
  font-weight: bold;
  font-size: 1rem;
}
.event-card .event-reg-button:hover {
  background-color: #b8d2ec;
}

/*
Styles for Admin-side Pages
*/
.addnew-org-button {
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px, rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: Inter;
  font-weight: 600;
  height: 48px;
  max-width: 30rem;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: cemter;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.addnew-org-button:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.addnew-org-button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.addnew-org-button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.back-img-blurred {
  filter: blur(2px);
  z-index: -1;
  position: absolute;
  width: 100%;
  height: auto;
}

.dashboard-container {
  max-width: 80%;
  margin: 2rem auto; /* Centering the container */
  padding: 1rem;
  border-radius: 25px;
  background-color: #EFEFEF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.update-container {
  max-width: 100rem;
  padding: 2rem;
  border-radius: 25px;
  background-color: #EFEFEF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.organization {
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.form-group {
  margin-bottom: 0.5rem;
}

.crud-title {
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.dashboard-title {
  margin-top: 2rem;
  color: black;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.table {
  margin: 2rem;
  border: 1px solid #ddd;
  background-color: white;
  max-width: 80rem;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: center;
}

.table th {
  font-weight: 700;
  background-color: #f2f2f2;
}

.wrapper {
  width: 600px;
  margin: 0 auto;
  position: relative; /* Ensure position is relative */
  z-index: 1; /* Set z-index to ensure it's above the image */
}

/*
Styles for Sign Up Page
*/
.signup-container {
  width: 39rem;
  height: 35rem;
  margin-left: 34rem;
  margin-top: 9rem;
  flex-shrink: 0;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.07);
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-title {
  color: white;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.form-group {
  width: 100%;
  margin-bottom: 1rem;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  box-sizing: border-box;
}

.post-card {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 55rem;
  max-width: 45rem;
  border-radius: 0.7rem;
  background: #FFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background-color: white;
  overflow: hidden;
  margin-bottom: 1rem;
}
.post-card .card {
  display: flex;
  flex-direction: column;
}
.post-card .card {
  display: flex;
  flex-direction: column;
}
.post-card .author-name-and-date-published {
  flex: 1;
}
.post-card .author-name-and-date-published a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.post-card .author-name-and-date-published a:hover {
  text-decoration: underline;
}
.post-card .author-name-and-date-published small {
  font-size: 0.75rem;
  line-height: 1rem;
}
.post-card .author-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  font-weight: 500;
  padding: 0.75rem 1rem;
}
.post-card .post-profile-image {
  border-radius: 50%;
  overflow: hidden;
  width: 2rem;
}
.post-card .profile-image {
  border-radius: 50%;
  overflow: hidden;
  width: 2rem;
}
.post-card .mainImageContainer {
  overflow: hidden;
}
.post-card .mainImageContainer img {
  width: 100%;
  height: auto;
}
.post-card .mainImageContainer {
  overflow: hidden;
}
.post-card .mainImageContainer img {
  width: 100%;
  height: auto;
}
.post-card .content-container {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}
.post-card .content-container .content {
  width: inherit;
}
.post-card .tag {
  display: flex;
  margin-top: 0.5rem;
}
.post-card .tag span {
  color: white;
  background-color: orange;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

pre {
  white-space: pre-wrap; /* Allow wrapping of long lines */
  word-wrap: break-word; /* Break long words to prevent overflow */
  max-width: inherit; /* Define maximum width */
  overflow: auto; /* Enable horizontal scrolling if needed */
}

.post-form {
  width: 100%;
  border-radius: 1rem;
  max-width: 45rem;
}
.post-form .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem 2rem;
}
.post-form .content textarea {
  font-family: inherit;
  resize: none;
  width: 100%;
  overflow: auto;
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  min-height: 100px; /* Set a minimum height for the textarea */
  max-height: 300px; /* Set a maximum height for the textarea to prevent it from growing indefinitely */
  padding: 10px; /* Add padding for spacing */
  border: 1px solid #ccc; /* Add a border for clarity */
  box-sizing: border-box;
}
.post-form .content .buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.content-container {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}
.content-container .content {
  width: inherit;
}

.tag {
  display: flex;
  margin-top: 0.5rem;
}
.tag span {
  color: white;
  background-color: orange;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

pre {
  white-space: pre-wrap; /* Allow wrapping of long lines */
  word-wrap: break-word; /* Break long words to prevent overflow */
  max-width: inherit; /* Define maximum width */
  overflow: auto; /* Enable horizontal scrolling if needed */
}

.post-form {
  width: 100%;
  border-radius: 1rem;
  max-width: 45rem;
}
.post-form .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem 2rem;
}
.post-form .content textarea {
  font-family: inherit;
  resize: none;
  width: 100%;
  overflow: auto;
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  min-height: 100px; /* Set a minimum height for the textarea */
  max-height: 300px; /* Set a maximum height for the textarea to prevent it from growing indefinitely */
  padding: 10px; /* Add padding for spacing */
  border: 1px solid #ccc; /* Add a border for clarity */
  box-sizing: border-box;
}
.post-form .content .buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/*
Specific styles for the footer section if applicable.
*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  text-align: center;
  margin-top: auto;
  width: inherit;
  padding: 1rem;
  font-size: 0.75rem;
}
footer p {
  text-align: center;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background-color: black;
  color: white;
  opacity: 90%;
  border-radius: 0.5rem;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem 1rem;
}
.navbar .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}
.navbar .logo img {
  width: 100%;
  max-width: 2rem;
  height: auto;
}
.navbar .logo h1 {
  color: #F9FAFB;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
.navbar .nav-items {
  display: flex;
  align-items: center;
}
.navbar .nav-items .nav-item {
  padding: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
.navbar .nav-items .nav-item:hover {
  background-color: #1F2937;
}
.navbar .nav-items .nav-item a {
  color: #D1D5DB;
}
.navbar .nav-items a {
  text-decoration: none;
  color: #F9FAFB;
  font-weight: 600;
  font-size: 1rem;
}
.navbar .nav-items .search {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
Styles for form elements, input fields, buttons, etc.
*/
.search-form {
  background-color: #E5E7EB;
  border-radius: 1rem;
  padding: 0.25rem 0.75rem;
  display: flex;
  align-items: center;
  color: #374151;
}
.search-form svg {
  width: 10%;
}
.search-form input {
  color: #111827;
  outline: none;
  background-color: inherit;
  border: none;
  flex: 1;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}
.search-form input::-moz-placeholder {
  color: #374151;
}
.search-form input::placeholder {
  color: #374151;
}
.search-form input::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: #374151;
}

.org-content-container {
  padding-top: 15rem;
  padding-bottom: 5rem;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.org-text-heading {
  color: #ffa858;
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
}

.org-text-content {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  padding-top: 0.3rem;
  max-width: 85%;
}

.org-text-end {
  color: #000;
  font-family: Montserrat;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 700;
  padding-top: 1.2rem;
}

.search-padding {
  padding-top: 1.2rem;
}

.org-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 10fr);
  width: 55rem;
  gap: 1rem;
  padding-top: 2rem;
}

/*
Set typography-related styles such as font sizes, line heights, and font families.
*/
.organization-card {
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffbd81;
}
.organization-card:hover {
  transform: scale(1.03);
}
.organization-card:hover .organization-title {
  display: none;
}
.organization-card img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 30%;
}
.organization-card .organization-title {
  position: absolute;
  margin: auto;
  font-family: "Montserrat";
  font-weight: 700;
  color: white;
  word-wrap: break-word;
}
.organization-card img:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1);
  opacity: 100;
  transition: opacity 0.7s, ease-in-out;
  border-radius: 0.5rem;
}

/*
Specific styles for the login page.
*/
.login-container {
  width: 39rem;
  height: 35rem;
  margin-left: 55rem;
  margin-top: 9rem;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.logo-login {
  width: 11.0625rem;
  height: 11.0625rem;
  flex-shrink: 0;
  margin-left: 14rem;
  margin-top: 2rem;
}

.login-text {
  color: white;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.login-button {
  margin-left: 13.8rem;
  margin-top: 3rem;
  width: 11.125rem;
  height: 4.0625rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: #212121;
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.login-field {
  margin-top: 2rem;
  margin-bottom: -0.5rem;
  margin-left: 6.5rem;
}
.login-field input {
  background-color: transparent;
}

.login-icon {
  width: 1.6rem;
  height: 1.55rem;
}

.login-input {
  border: none;
  border-bottom: 2px solid #D1D1D4;
  background: none;
  background-color: black;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 20rem;
  height: 1rem;
  transition: 0.2s;
}

.login-input:active,
.login-input:focus,
.login-input:hover {
  outline: none;
  border-bottom-color: #6A679E;
}

.main .orgs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: solid 1px #D1D5DB;
  padding: 1rem;
  border-radius: 0.25rem;
}
.main .orgs .orgs__title {
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 700;
}
.main .posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: solid 1px #D1D5DB;
  padding: 1rem;
  border-radius: 0.25rem;
}
.main .posts .posts__title {
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 700;
}

.organization-search-card-component {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  border-bottom: solid 1px #4B5563;
}
.organization-search-card-component .profile-picture {
  width: 10%;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
.organization-search-card-component .profile-picture img {
  width: 100%;
  height: auto;
}
.organization-search-card-component .author-container {
  flex: 2;
}
.organization-search-card-component .author-container a {
  color: #374151;
  font-weight: 600;
}
.organization-search-card-component .author-container p {
  color: black;
}

.profile {
  flex: 1;
}
.profile .cover-photo-container {
  width: inherit;
  overflow: hidden;
  min-height: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #E5E7EB;
}
.profile main .profile-image {
  position: relative;
  top: -3rem;
  overflow: hidden;
  border-radius: 50%;
  max-width: 7%;
  margin-left: calc(8rem + 1.5625vw);
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile main .profile-image img {
  width: 100%;
  height: auto;
}
.profile main .organization-info {
  padding-left: calc(8rem + 1.5625vw);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.profile main .organization-info .profile-organization-name {
  font-size: 1.25rem;
  font-weight: 700;
}
.profile main .organization-info .profile-organization-description {
  font-size: 1rem;
}
.profile main .organization-info .profile-location-icon, .profile main .organization-info .profile-website-icon {
  width: 1.5rem;
}
.profile main .organization-info .profile-location {
  font-size: 1rem;
}
.profile main .profile-content-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.profile main .profile-content-container .posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: span 2;
}

/*
Styles for Admin-side Pages
*/
.addnew-org-button {
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px, rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: Inter;
  font-weight: 600;
  height: 48px;
  max-width: 30rem;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: cemter;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.addnew-org-button:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.addnew-org-button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.addnew-org-button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.back-img-blurred {
  filter: blur(2px);
  z-index: -1;
  position: absolute;
  width: 100%;
  height: auto;
}

.dashboard-container {
  max-width: 80%;
  margin: 2rem auto; /* Centering the container */
  padding: 1rem;
  border-radius: 25px;
  background-color: #EFEFEF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.update-container {
  max-width: 100rem;
  padding: 2rem;
  border-radius: 25px;
  background-color: #EFEFEF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.organization {
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.form-group {
  margin-bottom: 0.5rem;
}

.crud-title {
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.dashboard-title {
  margin-top: 2rem;
  color: black;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.table {
  margin: 2rem;
  border: 1px solid #ddd;
  background-color: white;
  max-width: 80rem;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: center;
}

.table th {
  font-weight: 700;
  background-color: #f2f2f2;
}

.wrapper {
  width: 600px;
  margin: 0 auto;
  position: relative; /* Ensure position is relative */
  z-index: 1; /* Set z-index to ensure it's above the image */
}

.center {
  display: flex;
  justify-content: center;
  width: inherit;
}/*# sourceMappingURL=main.css.map */
=======
@import"https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap";@import"https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap";@import"https://fonts.googleapis.com/css?family=Inter";@import"https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap";@import"https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap";@import"https://fonts.googleapis.com/css?family=Inter";@import"https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap";@import"https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap";@import"https://fonts.googleapis.com/css?family=Inter";html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:"";content:none}table{border-collapse:collapse;border-spacing:0}body{display:flex;flex-direction:column;min-height:100vh;font-family:"Montserrat",sans-serif}body .back-img{position:fixed;top:0;z-index:-500;width:100%}.main-feed{display:flex;justify-content:center;padding:0 4rem}.left{flex:1}.main{flex:2;display:flex;flex-direction:column;align-items:center;margin-top:5rem;gap:1.25rem;padding:3rem;border-radius:.25rem;background-color:#f0f2f5;box-shadow:0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1)}.right{flex:1}.org-reg-button{background-color:#fcae65;color:#f9fafb;text-align:center;text-decoration:none;font-family:"Montserrat",sans-serif;font-weight:bold;font-size:1.25rem;border-radius:2rem;border:none;display:flex;justify-content:center;align-items:center;padding:.5rem 1rem}.org-reg-button svg{margin-right:.25rem}.org-reg-button:hover{background-color:#ffbd81}.event-card{font-family:"Inter",sans-serif;font-size:.75rem;line-height:1.25rem;border-radius:1rem;overflow:hidden;max-width:14rem;min-height:14rem;background-image:url("../img/Rectangle 96.png");background-size:cover;display:flex;flex-direction:column-reverse}.event-card img{width:100%;height:auto}.event-card .event-date{font-weight:500}.event-card .event-container{background-color:#d1d5db;padding:.75rem 1.25rem;border-top-left-radius:1rem;border-top-right-radius:1rem}.event-card .event-title{color:#ffa858;font-weight:bold;font-size:1.5rem}.event-card .event-reg-button{background-color:#a7c7e7;border-radius:.5rem;padding:.5rem 1rem;display:flex;justify-content:center;align-items:center;margin-top:.5rem;text-decoration:none;color:#f9fafb;font-weight:bold;font-size:1rem}.event-card .event-reg-button:hover{background-color:#b8d2ec}.addnew-org-button{align-items:center;appearance:none;background-color:#fcfcfd;border-radius:4px;border-width:0;box-shadow:rgba(45,35,66,.2) 0 2px 4px,rgba(45,35,66,.15) 0 7px 13px -3px,#d6d6e7 0 -3px 0 inset;box-sizing:border-box;color:#36395a;cursor:pointer;display:inline-flex;font-family:Inter;font-weight:600;height:48px;max-width:30rem;justify-content:center;line-height:1;list-style:none;overflow:hidden;padding-left:16px;padding-right:16px;position:relative;text-align:cemter;text-decoration:none;transition:box-shadow .15s,transform .15s;user-select:none;-webkit-user-select:none;touch-action:manipulation;white-space:nowrap;will-change:box-shadow,transform;font-size:18px}.addnew-org-button:hover{box-shadow:rgba(45,35,66,.3) 0 4px 8px,rgba(45,35,66,.2) 0 7px 13px -3px,#d6d6e7 0 -3px 0 inset;transform:translateY(-2px)}.addnew-org-button:focus{box-shadow:#d6d6e7 0 0 0 1.5px inset,rgba(45,35,66,.4) 0 2px 4px,rgba(45,35,66,.3) 0 7px 13px -3px,#d6d6e7 0 -3px 0 inset}.addnew-org-button:active{box-shadow:#d6d6e7 0 3px 7px inset;transform:translateY(2px)}.back-img-blurred{filter:blur(2px);z-index:-1;position:absolute;width:100%;height:auto}.dashboard-container{max-width:80%;margin:2rem auto;padding:1rem;border-radius:25px;background-color:#efefef;box-shadow:0 4px 8px rgba(0,0,0,.1)}.update-container{max-width:100rem;padding:2rem;border-radius:25px;background-color:#efefef;box-shadow:0 4px 8px rgba(0,0,0,.1)}.organization{padding:1rem;margin-bottom:1rem;border-bottom:1px solid #ccc}.form-group{margin-bottom:.5rem}.crud-title{color:#fff;text-shadow:0px 4px 4px rgba(0,0,0,.25);font-family:Inter;font-size:2.5rem;font-style:normal;font-weight:700;line-height:normal}.dashboard-title{margin-top:2rem;color:#000;text-align:center;text-shadow:0px 4px 4px rgba(0,0,0,.25);font-family:Inter;font-size:2.5rem;font-style:normal;font-weight:700;line-height:normal}.table{margin:2rem;border:1px solid #ddd;background-color:#fff;max-width:80rem}.table th,.table td{border:1px solid #ddd;padding:1rem;text-align:center}.table th{font-weight:700;background-color:#f2f2f2}.wrapper{width:600px;margin:0 auto;position:relative;z-index:1}.signup-container{width:39rem;height:42rem;margin-left:30rem;margin-top:5rem;padding:2rem;flex-shrink:0;border-radius:15px;background:rgba(0,0,0,.07);box-shadow:0px 4px 11px 0px rgba(0,0,0,.25);backdrop-filter:blur(2.5px);-webkit-backdrop-filter:blur(5px);border:1px solid rgba(255,255,255,.18);display:flex;flex-direction:column;align-items:center}.signupform-title{color:#fff;font-weight:500}.signup-title{color:#fff;text-align:center;text-shadow:0px 4px 4px rgba(0,0,0,.25);font-family:Inter;font-size:2.5rem;font-style:normal;font-weight:700;line-height:normal;margin-top:0rem;margin-bottom:2rem}.form-group{width:100%;margin-bottom:1rem}input[type=text],input[type=email],input[type=password],textarea{width:100%;padding:.5rem;margin-top:.5rem;border:1px solid #ccc;border-radius:.375rem;box-sizing:border-box}.post-card{font-family:"Inter",sans-serif;font-size:.875rem;line-height:1.25rem;width:55rem;max-width:45rem;border-radius:.7rem;background:#fff;box-shadow:0px 4px 10px 0px rgba(0,0,0,.25);background-color:#fff;overflow:hidden;margin-bottom:1rem}.post-card .card{display:flex;flex-direction:column}.post-card .card{display:flex;flex-direction:column}.post-card .author-name-and-date-published{flex:1}.post-card .author-name-and-date-published a{text-decoration:none;color:#000;font-weight:600}.post-card .author-name-and-date-published a:hover{text-decoration:underline}.post-card .author-name-and-date-published small{font-size:.75rem;line-height:1rem}.post-card .author-container{display:flex;align-items:center;justify-content:center;gap:.75rem;font-weight:500;padding:.75rem 1rem}.post-card .post-profile-image{border-radius:50%;overflow:hidden;width:2rem}.post-card .profile-image{border-radius:50%;overflow:hidden;width:2rem}.post-card .mainImageContainer{overflow:hidden}.post-card .mainImageContainer img{width:100%;height:auto}.post-card .mainImageContainer{overflow:hidden}.post-card .mainImageContainer img{width:100%;height:auto}.post-card .content-container{padding-right:1rem;padding-left:1rem;padding-bottom:.5rem}.post-card .content-container .content{width:inherit}.post-card .tag{display:flex;margin-top:.5rem}.post-card .tag span{color:#fff;background-color:orange;padding:.5rem;border-radius:.5rem}pre{white-space:pre-wrap;word-wrap:break-word;max-width:inherit;overflow:auto}.post-form{width:100%;border-radius:1rem;max-width:45rem}.post-form .content{display:flex;flex-direction:column;justify-content:center;margin:.5rem 2rem}.post-form .content textarea{font-family:inherit;resize:none;width:100%;overflow:auto;overflow-y:auto;min-height:100px;max-height:300px;padding:10px;border:1px solid #ccc;box-sizing:border-box}.post-form .content .buttons{display:grid;grid-template-columns:repeat(2, 1fr)}.content-container{padding-right:1rem;padding-left:1rem;padding-bottom:.5rem}.content-container .content{width:inherit}.tag{display:flex;margin-top:.5rem}.tag span{color:#fff;background-color:orange;padding:.5rem;border-radius:.5rem}pre{white-space:pre-wrap;word-wrap:break-word;max-width:inherit;overflow:auto}.post-form{width:100%;border-radius:1rem;max-width:45rem}.post-form .content{display:flex;flex-direction:column;justify-content:center;margin:.5rem 2rem}.post-form .content textarea{font-family:inherit;resize:none;width:100%;overflow:auto;overflow-y:auto;min-height:100px;max-height:300px;padding:10px;border:1px solid #ccc;box-sizing:border-box}.post-form .content .buttons{display:grid;grid-template-columns:repeat(2, 1fr)}footer{display:flex;justify-content:center;align-items:center;background-color:#000;color:#fff;text-align:center;margin-top:auto;width:inherit;padding:1rem;font-size:.75rem}footer p{text-align:center;color:#fff}.navbar{display:flex;justify-content:space-between;align-items:center;position:fixed;top:2rem;left:50%;transform:translateX(-50%);z-index:10;background-color:#000;color:#fff;opacity:90%;border-radius:.5rem;width:75%;margin-left:auto;margin-right:auto;padding:.5rem 1rem}.navbar .logo{display:flex;flex-direction:row;align-items:center;text-align:center;gap:.5rem}.navbar .logo img{width:100%;max-width:2rem;height:auto}.navbar .logo h1{color:#f9fafb;font-family:"Inter",sans-serif;font-weight:600}.navbar .nav-items{display:flex;align-items:center}.navbar .nav-items .nav-item{padding:1rem;border-radius:.25rem;cursor:pointer}.navbar .nav-items .nav-item:hover{background-color:#1f2937}.navbar .nav-items .nav-item a{color:#d1d5db}.navbar .nav-items a{text-decoration:none;color:#f9fafb;font-weight:600;font-size:1rem}.navbar .nav-items .search{display:flex;align-items:center;justify-content:center}.search-form{background-color:#e5e7eb;border-radius:1rem;padding:.25rem .75rem;display:flex;align-items:center;color:#374151}.search-form svg{width:10%}.search-form input{color:#111827;outline:none;background-color:inherit;border:none;flex:1;font-size:1rem;font-family:"Inter",sans-serif}.search-form input::placeholder{color:#374151}.search-form input::-ms-input-placeholder{color:#374151}.events-container{display:flex;flex-wrap:wrap;gap:16px}.title-card{width:35%;padding:55px 380px 10px 10px;font-family:"Inter";font-weight:bold;font-size:50px}.holder{padding:10px 380px 10px 10px}.event-card{margin-top:-7%;margin-left:7%;flex:1 1 calc(50% - 16px);box-sizing:border-box}.event-container{margin:20px;padding:20px;background-color:#fff;border-radius:10px;box-shadow:0 0 10px rgba(0,0,0,.1)}.addnew-event-button{align-items:center;appearance:none;background-color:#fcfcfd;border-radius:4px;border-width:0;box-shadow:rgba(45,35,66,.2) 0 2px 4px,rgba(45,35,66,.15) 0 7px 13px -3px,#d6d6e7 0 -3px 0 inset;box-sizing:border-box;color:#36395a;cursor:pointer;display:inline-flex;font-family:Inter;font-weight:600;height:48px;padding-top:1%;margin:auto;display:block;width:fit-content;justify-content:center;line-height:1;list-style:none;overflow:hidden;padding-left:16px;padding-right:16px;position:relative;text-align:left;text-decoration:none;transition:box-shadow .15s,transform .15s;user-select:none;-webkit-user-select:none;touch-action:manipulation;white-space:nowrap;will-change:box-shadow,transform;font-size:18px}.addnew-event-button:hover{box-shadow:rgba(45,35,66,.3) 0 4px 8px,rgba(45,35,66,.2) 0 7px 13px -3px,#d6d6e7 0 -3px 0 inset;transform:translateY(-2px)}.addnew-event-button:focus{box-shadow:#d6d6e7 0 0 0 1.5px inset,rgba(45,35,66,.4) 0 2px 4px,rgba(45,35,66,.3) 0 7px 13px -3px,#d6d6e7 0 -3px 0 inset}.addnew-event-button:active{box-shadow:#d6d6e7 0 3px 7px inset;transform:translateY(2px)}.org-content-container{padding-top:15rem;padding-bottom:5rem;width:inherit;display:flex;flex-direction:column;align-items:center}.org-text-heading{color:#ffa858;font-family:Inter;font-size:2.5rem;font-style:normal;font-weight:700}.org-text-content{color:#000;text-align:center;font-family:Montserrat;font-size:.8rem;font-style:normal;font-weight:400;padding-top:.3rem;max-width:85%}.org-text-end{color:#000;font-family:Montserrat;font-size:.8rem;font-style:normal;font-weight:700;padding-top:1.2rem}.search-padding{padding-top:1.2rem}.org-grid-container{width:100%;display:grid;grid-template-columns:repeat(3, 10fr);width:55rem;gap:1rem;padding-top:2rem}.organization-card{border-radius:.5rem;position:relative;display:flex;justify-content:center;align-items:center;background-color:#ffbd81}.organization-card:hover{transform:scale(1.03)}.organization-card:hover .organization-title{display:none}.organization-card img{width:100%;height:auto;object-fit:cover;opacity:30%}.organization-card .organization-title{position:absolute;margin:auto;font-family:"Montserrat";font-weight:700;color:#fff;word-wrap:break-word}.organization-card img:hover{transition:transform .3s ease-in-out;transform:scale(1);opacity:100;transition:opacity .7s,ease-in-out;border-radius:.5rem}.login-container{width:39rem;height:35rem;margin-left:55rem;margin-top:9rem;flex-shrink:0;background:rgba(255,255,255,.25);box-shadow:0 8px 32px 0 rgba(31,38,135,.37);backdrop-filter:blur(4px);-webkit-backdrop-filter:blur(5px);border-radius:15px;border:1px solid rgba(255,255,255,.18);z-index:1;display:flex;flex-direction:column;align-items:center}.login-icon-container{margin-right:1rem}.logo-login{width:11.0625rem;height:11.0625rem;flex-shrink:0;margin-top:2rem}.login-text{color:#fff;text-align:center;text-shadow:0px 4px 4px rgba(0,0,0,.25);font-family:Inter;font-size:2.5rem;font-style:normal;font-weight:700;line-height:normal}.main-content-container{display:flex;flex-direction:column;align-items:center;width:100%}.login-button{margin-top:3rem;width:11.125rem;height:4.0625rem;flex-shrink:0;border-radius:1.25rem;background:#212121;color:#fff;box-shadow:0px 4px 4px 0px rgba(0,0,0,.25);text-align:center;text-shadow:0px 4px 4px rgba(0,0,0,.25);font-family:Inter;font-size:2rem;font-style:normal;font-weight:800;line-height:normal}.login-field{width:25rem;margin-top:2rem;margin-bottom:-0.5rem;display:flex;align-items:center}.login-field input{background-color:rgba(0,0,0,0)}.login-icon{width:1.6rem;height:1.55rem}.login-input{border:none;border-bottom:2px solid #d1d1d4;background:none;background-color:#000;padding:10px;padding-left:24px;font-weight:700;width:20rem;height:2rem;transition:.2s}.login-input:active,.login-input:focus,.login-input:hover{outline:none;border-bottom-color:#6a679e}.main .orgs{display:flex;flex-direction:column;gap:.5rem;border:solid 1px #d1d5db;padding:1rem;border-radius:.25rem}.main .orgs .orgs__title{font-size:1.5rem;line-height:1.875rem;font-weight:700}.main .posts{display:flex;flex-direction:column;gap:1rem;border:solid 1px #d1d5db;padding:1rem;border-radius:.25rem}.main .posts .posts__title{font-size:1.5rem;line-height:1.875rem;font-weight:700}.organization-search-card-component{display:flex;flex-direction:row;padding:.5rem;border-bottom:solid 1px #4b5563}.organization-search-card-component .profile-picture{width:10%;border-radius:50%;overflow:hidden;display:flex;justify-content:center;align-items:center;margin-right:1rem}.organization-search-card-component .profile-picture img{width:100%;height:auto}.organization-search-card-component .author-container{flex:2}.organization-search-card-component .author-container a{color:#374151;font-weight:600}.organization-search-card-component .author-container p{color:#000}.profile{flex:1}.profile .cover-photo-container{width:inherit;overflow:hidden;min-height:20rem;background-position:center;background-repeat:no-repeat;background-size:cover;background-color:#e5e7eb}.profile main .profile-image{position:relative;top:-3rem;overflow:hidden;border-radius:50%;max-width:7%;margin-left:calc(8rem + 1.5625vw);display:flex;justify-content:center;align-items:center}.profile main .profile-image img{width:100%;height:auto}.profile main .organization-info{padding-left:calc(8rem + 1.5625vw);display:flex;flex-direction:column;gap:1rem}.profile main .organization-info .profile-organization-name{font-size:1.25rem;font-weight:700}.profile main .organization-info .profile-organization-description{font-size:1rem}.profile main .organization-info .profile-location-icon,.profile main .organization-info .profile-website-icon{width:1.5rem}.profile main .organization-info .profile-location{font-size:1rem}.profile main .profile-content-container{display:grid;grid-template-columns:repeat(3, 1fr)}.profile main .profile-content-container .posts{display:flex;flex-direction:column;justify-content:center;align-items:center;grid-column:span 2}.center{display:flex;justify-content:center;align-items:center;flex-direction:column;width:inherit;margin:auto}.center h1{font-size:2rem;font-weight:700}/*# sourceMappingURL=main.css.map */
>>>>>>> main
