/*
Define variables for colors, fonts, spacing, and other commonly used values.
*/
/*
Set typography-related styles such as font sizes, line heights, and font families.
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Inter);
/* 
    Styles for various button types and states.
*/
/*
Define variables for colors, fonts, spacing, and other commonly used values.
*/
/*
Set typography-related styles such as font sizes, line heights, and font families.
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Inter);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Inter);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.org-reg-button {
  /* Background and Text color */
  background-color: #fcae65;
  color: #F9FAFB;
  /* Text alignment and font */
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  border-radius: 2rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
}
.org-reg-button svg {
  margin-right: 0.25rem;
}
.org-reg-button:hover {
  background-color: #FFBD81;
}

.event-card {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  line-height: 1.25rem;
  border-radius: 1rem;
  overflow: hidden;
  max-width: 14rem;
  min-height: 14rem;
  background-image: url("../img/Rectangle 96.png");
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
}
.event-card img {
  width: 100%;
  height: auto;
}
.event-card .event-date {
  font-weight: 500;
}
.event-card .event-container {
  background-color: #D1D5DB;
  padding: 0.75rem 1.25rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.event-card .event-title {
  color: #FFA858;
  font-weight: bold;
  font-size: 1.5rem;
}
.event-card .event-reg-button {
  background-color: #A7C7E7;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  text-decoration: none;
  color: #F9FAFB;
  font-weight: bold;
  font-size: 1rem;
}
.event-card .event-reg-button:hover {
  background-color: #b8d2ec;
}

/* 
    Define base styles for HTML elements (e.g., body, headings, paragraphs).
*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}
body .back-img {
  position: fixed;
  top: 0;
  z-index: -500;
  width: 100%;
}

.main-feed {
  display: flex;
  justify-content: center;
  padding: 0 4rem;
}

.left {
  flex: 1;
}

.main {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  gap: 1.25rem;
  padding: 3rem;
  border-radius: 0.25rem;
  background-color: #F0F2F5;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.right {
  flex: 1;
}

.post-card {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 100%;
  max-width: 45rem;
  max-width: 45rem;
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  background-color: white;
  overflow: hidden;
  display: flex;
}
.post-card .card {
  display: flex;
  flex-direction: column;
}
.post-card .card {
  display: flex;
  flex-direction: column;
}
.post-card .author-name-and-date-published a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.post-card .author-name-and-date-published a:hover {
  text-decoration: underline;
}
.post-card .author-name-and-date-published small {
  font-size: 0.75rem;
  line-height: 1rem;
}
.post-card .author-name-and-date-published a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.post-card .author-name-and-date-published a:hover {
  text-decoration: underline;
}
.post-card .author-name-and-date-published small {
  font-size: 0.75rem;
  line-height: 1rem;
}
.post-card .author-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: 500;
  padding: 0.75rem 1rem;
}
.post-card .author-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: 500;
  padding: 0.75rem 1rem;
}
.post-card .profile-image {
  border-radius: 50%;
  overflow: hidden;
  width: 2rem;
}
.post-card .profile-image {
  border-radius: 50%;
  overflow: hidden;
  width: 2rem;
}
.post-card .mainImageContainer {
  overflow: hidden;
}
.post-card .mainImageContainer img {
  width: 100%;
  height: auto;
}
.post-card .mainImageContainer {
  overflow: hidden;
}
.post-card .mainImageContainer img {
  width: 100%;
  height: auto;
}
.post-card .content-container {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}
.post-card .content-container .content {
  width: inherit;
}
.post-card .tag {
  display: flex;
  margin-top: 0.5rem;
}
.post-card .tag span {
  color: white;
  background-color: orange;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

pre {
  white-space: pre-wrap; /* Allow wrapping of long lines */
  word-wrap: break-word; /* Break long words to prevent overflow */
  max-width: inherit; /* Define maximum width */
  overflow: auto; /* Enable horizontal scrolling if needed */
}

.post-form {
  width: 100%;
  border-radius: 1rem;
  max-width: 45rem;
}
.post-form .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem 2rem;
}
.post-form .content textarea {
  font-family: inherit;
  resize: none;
  width: 100%;
  overflow: auto;
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  min-height: 100px; /* Set a minimum height for the textarea */
  max-height: 300px; /* Set a maximum height for the textarea to prevent it from growing indefinitely */
  padding: 10px; /* Add padding for spacing */
  border: 1px solid #ccc; /* Add a border for clarity */
  box-sizing: border-box;
}
.post-form .content .buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.content-container {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}
.content-container .content {
  width: inherit;
}

.tag {
  display: flex;
  margin-top: 0.5rem;
}
.tag span {
  color: white;
  background-color: orange;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

pre {
  white-space: pre-wrap; /* Allow wrapping of long lines */
  word-wrap: break-word; /* Break long words to prevent overflow */
  max-width: inherit; /* Define maximum width */
  overflow: auto; /* Enable horizontal scrolling if needed */
}

.post-form {
  width: 100%;
  border-radius: 1rem;
  max-width: 45rem;
}
.post-form .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem 2rem;
}
.post-form .content textarea {
  font-family: inherit;
  resize: none;
  width: 100%;
  overflow: auto;
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  min-height: 100px; /* Set a minimum height for the textarea */
  max-height: 300px; /* Set a maximum height for the textarea to prevent it from growing indefinitely */
  padding: 10px; /* Add padding for spacing */
  border: 1px solid #ccc; /* Add a border for clarity */
  box-sizing: border-box;
}
.post-form .content .buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/*
Specific styles for the footer section if applicable.
*/
.headerCustom {
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
  height: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 50px;
}

.logo {
  margin-right: -20px !important;
  margin-top: -5px !important;
  margin-left: 0px !important;
  width: 50% !important;
}

.col-3 {
  height: 10px !important;
}

.col-4 {
  height: 10px !important;
}

.col-5 {
  width: 400px !important;
  height: 10px !important;
}

.search-bar {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  height: 35px;
  margin-right: -290px;
}

.search {
  height: 40px;
  width: 280px;
}

.search-bar input {
  padding: 0 10px;
  border: none;
  border-radius: 50px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

p {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  margin: 0;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

nav a {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  margin-right: 50px;
  text-align: center;
}

.nav-list li {
  margin-top: 6px;
}

.nav-list li:first-child {
  margin-left: 0;
}

nav a:last-child {
  margin-right: 0; /* Remove margin-right for the last link */
}

.col-nav {
  width: 20px !important;
}

footer {
  flex: 0 0 auto;
  background-color: black;
  color: white;
  text-align: center;
  margin-top: auto; /* Push the footer to the bottom */
  width: inherit;
  padding: 1rem;
  font-size: 0.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 2rem;
  background-color: black;
  color: white;
  opacity: 90%;
  border-radius: 0.5rem;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem 1rem;
}
.navbar .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.navbar .logo img {
  width: 100%;
  max-width: 2rem;
  height: auto;
}
.navbar .logo h1 {
  color: #F9FAFB;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
.navbar .nav-items {
  display: flex;
}
.navbar .nav-items .nav-item {
  padding: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
.navbar .nav-items .nav-item:hover {
  background-color: #1F2937;
}
.navbar .nav-items .nav-item a {
  color: #D1D5DB;
}
.navbar .nav-items a {
  text-decoration: none;
  color: #F9FAFB;
}
.navbar .nav-items .search {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

/*
Styles for form elements, input fields, buttons, etc.
*/
.search-form {
  background-color: #E5E7EB;
  border-radius: 1rem;
  padding: 0.25rem 0.75rem;
  display: flex;
  align-items: center;
  color: #374151;
}
.search-form svg {
  width: 10%;
}
.search-form input {
  color: #111827;
  outline: none;
  background-color: inherit;
  border: none;
  flex: 1;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}
.search-form input::-moz-placeholder {
  color: #374151;
}
.search-form input::placeholder {
  color: #374151;
}
.search-form input::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: #374151;
}

.org-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 35rem;
  height: 15rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.org-text-heading {
  color: #FFA858;
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
}

.org-text-content {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  padding-top: 0.3rem;
  max-width: 85%;
}

.org-text-end {
  color: #000;
  font-family: Montserrat;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 700;
  padding-top: 1.2rem;
}

.search-padding {
  padding-top: 1.2rem;
}

.org-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 35rem;
  height: 50rem;
  max-width: 100%;
  padding-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

/*
Set typography-related styles such as font sizes, line heights, and font families.
*/
.card {
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffbd81;
}
.card:hover {
  transform: scale(1.03);
}
.card:hover span {
  display: none;
}
.card img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 30%;
}
.card img:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
  opacity: 100;
  transition: opacity 0.7s, ease-in-out;
}
.card span {
  position: absolute;
  margin: auto;
  font-family: "Montserrat";
  font-weight: 700;
  color: white;
}/*# sourceMappingURL=main.css.map */