.row {
    --bs-gutter-x: 0px;
    margin-top: 50px;
    margin-right: 300px;
    margin-left: 300px;
}

.col, img {
    object-fit: cover; 
    width: 280px;
    height: 200px;
    flex-shrink: 0;
}

.card {
    border-radius: 10px;
    width: 280px;
    height: 200px;
    margin-right: 12px;
    flex-shrink: 0;
    overflow: hidden; /* image doesn't overflow the card */
}

.card:hover {
    transform: scale(1.1);
}

.card:hover img {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
}

img.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

img.card-img-top:hover {
    content: url("../public/assets/sample2.jpg");
}