 /*MONTSERRAT FONT*/
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

 /*MANROPE FONT*/
 @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

 body {
    background-image: url('your-background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
 