@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Inter);

.org-reg-button {
    /* Background and text */
    background-color: #FFBD81;
    color: #FFF;

    /* Text alignment and font */
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 20px;

    /* Dimensions */
    width: 384px;
    height: 75px;

    /* Border */
    border-radius: 58px;
    border: none;

    /* Icon alignment */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Spacing between Icon and Text for reg button*/
.org-reg-button svg {
    margin-right: 5px; 
}

.org-reg-button:hover {
    background-color: #fcae65;
  }

/* Container for the post of organization section */
.org-container {
    width: 370px;
    height: 550px;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.20);
    margin-top: 20px;
}

/* Container for the post of organization cards */
.org-card {
    padding-top: 5px;
    padding-left: 30px;
}

/* Heading for the post of organization section */
.org-heading {
    padding-top: 20px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    padding-left: 30px;
}

/* Text for names of organization */
.org-text {
    color: black;
    font-family: 'Montserrat';
    padding-top: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 16px;
}

/* Logo for each organization */
.org-logo {
    width: 30px;
    height: 30px;
    border-radius: 45px;
    margin-right: 10px; 
}

.see-more-button {
    /* Text properties */
    font-family: 'Montserrat';
    font-weight: bold;
    color: #3290FF;
    
    /* Remove border and text decoration */
    border: none;
    text-decoration: none;
    
    /* Flexbox properties */
    display: flex;
    
    /* Spacing */
    padding-top: 30px;
}

.see-more-padding {
    padding-left: 30px;
}

/* Card for Featured Events */
.card {
    /* Dimensions */
    width: 328px;
    height: 311px;
    
    /* Background color and border */
    /* background-image: ; */
    background-color: #3290FF;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.20);
    
    /* Flexbox properties */
    display: flex;
    
    /* Spacing */
    margin-top: 20px;
}

.event-container {
    /* Text properties */
    font-family: 'Inter';
    
    /* Dimensions */
    width: 100%;
    height: 130px;
    
    /* Padding and background */
    padding-left: 15px;
    background-color: #fff;
    
    /* Spacing and alignment */
    margin-top: auto;
    padding-top: 10px;
}

.event-date {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 12px;
}

.event-title {
    color: #FFA858;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 24px;
}

.event-location {
    /* Text properties */
    font-family: 'Inter';
    font-weight: 600;
    font-size: 12px;
    
    /* Flexbox properties */
    display: flex;
    align-items: center;
}

.event-reg-button {
    /* Background color and border */
    background-color: #A7C7E7;
    border-radius: 9px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    
    /* Dimensions */
    width: 294px;
    height: 40px;
    
    /* Text properties */
    text-decoration: none;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 22px;
    color: #FFF;
    
    /* Flexbox properties */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Spacing */
    margin-top: 10px;
}

.event-reg-button:hover {
    background-color: #84add7;
  }

